.profile_info{

}

hr{
  margin: 10px 0;
  padding: 0;
  height: 0;
  border: none;
  border-top: 1px dashed #363636;
}

.profile_info_ava{

}

.profile_info_ava img{
  width: 10%;
  border-radius: 5px;
}

.profile_info_name{

}

