.posts {

}

.posts_addPost {

}

.posts_addPost_textarea {

}

.posts_addPost_button {

}

.posts_items {

}

.posts_items ul {
  padding-left: 0px;
  margin-left: 0px;
}

.posts_items li {
  list-style-type: none;
}