.App{
  display: grid;

  grid-template-areas:
  'header header'
  'navbar content';

  grid-template-rows: 50px 1fr;
  grid-template-columns: 2fr 10fr;
  /*grid-gap: 10px;*/
}

.Header{
  grid-area: header;
  background-color: #363636;
}

.Navbar{
  gird-area: navbar;
  background-color: #CCA43B;
}

.Content{
  gird-area: content;
  background-color: #E5E5E5;
}

/*#E5E5E5*/