.dialogs_users .dialogs_users_item{
  color: #363636;
  text-decoration: none;
  display: flex;
  border-radius: 4px;
}

.dialogs_users .dialogs_users_item:hover{
  background: #CECECE; //#EAEAEA
  color: #363636;

}